In [1]:
import pandas as pd

In [13]:
df=pd.read_csv("boston_train.csv")
df.head()

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990,37.9
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474,21.4
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076,12.7
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438,19.9
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007,22.5

In [14]:
df.describe()

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
count,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000
mean,0.019628,0.002455,0.036170,0.028955,0.028775,0.032202,0.038395,-0.001288,0.043307,0.043786,0.019218,-0.015785,0.018418,22.609499
std,1.067490,1.000813,1.017497,1.048995,0.999656,1.001174,0.985209,1.027803,1.016265,1.019974,1.000296,1.015797,1.015377,9.389647
min,-0.417713,-0.487722,-1.516987,-0.272599,-1.465882,-3.880249,-2.335437,-1.267069,-0.982843,-1.313990,-2.707379,-3.883072,-1.531127,5.000000
25%,-0.408171,-0.487722,-0.867691,-0.272599,-0.878475,-0.571480,-0.768994,-0.829872,-0.637962,-0.755697,-0.488039,0.197588,-0.828856,16.700000
50%,-0.383729,-0.487722,-0.180458,-0.272599,-0.144217,-0.103479,0.338718,-0.329213,-0.523001,-0.440915,0.297977,0.374827,-0.161629,21.100000
75%,0.055208,0.156071,1.015999,-0.272599,0.628913,0.529069,0.911243,0.674172,1.661245,1.530926,0.806576,0.429868,0.647173,25.750000
max,9.941735,3.804234,2.422565,3.668398,2.732346,3.555044,1.117494,3.960518,1.661245,1.798194,1.638828,0.441052,3.409999,50.000000

In [32]:
df[df.columns[0]]=(df[df.columns[0]]-df[df.columns[0]].mean())/(df[df.columns[0]].max()-df[df.columns[0]].min())
df[df.columns[1]]=(df[df.columns[1]]-df[df.columns[1]].mean())/(df[df.columns[1]].max()-df[df.columns[1]].min())
df[df.columns[2]]=(df[df.columns[2]]-df[df.columns[2]].mean())/(df[df.columns[2]].max()-df[df.columns[2]].min())
df[df.columns[3]]=(df[df.columns[3]]-df[df.columns[3]].mean())/(df[df.columns[3]].max()-df[df.columns[3]].min())
df[df.columns[4]]=(df[df.columns[4]]-df[df.columns[4]].mean())/(df[df.columns[4]].max()-df[df.columns[4]].min())
df[df.columns[5]]=(df[df.columns[5]]-df[df.columns[5]].mean())/(df[df.columns[5]].max()-df[df.columns[5]].min())
df[df.columns[6]]=(df[df.columns[6]]-df[df.columns[6]].mean())/(df[df.columns[6]].max()-df[df.columns[6]].min())
df[df.columns[7]]=(df[df.columns[7]]-df[df.columns[7]].mean())/(df[df.columns[7]].max()-df[df.columns[7]].min())
df[df.columns[8]]=(df[df.columns[8]]-df[df.columns[8]].mean())/(df[df.columns[8]].max()-df[df.columns[8]].min())
df[df.columns[9]]=(df[df.columns[9]]-df[df.columns[9]].mean())/(df[df.columns[9]].max()-df[df.columns[9]].min())
df[df.columns[10]]=(df[df.columns[10]]-df[df.columns[10]].mean())/(df[df.columns[10]].max()-df[df.columns[10]].min())
df[df.columns[11]]=(df[df.columns[11]]-df[df.columns[11]].mean())/(df[df.columns[11]].max()-df[df.columns[11]].min())
df[df.columns[12]]=(df[df.columns[12]]-df[df.columns[12]].mean())/(df[df.columns[12]].max()-df[df.columns[12]].min())
df[df.columns[13]]=(df[df.columns[13]]-df[df.columns[13]].mean())/(df[df.columns[13]].max()-df[df.columns[13]].min())
df.to_csv('boston_train_modify.csv' , index=False)